
.bodyinscription{
    display:flex;
    flex-direction: column;
    margin: 0px;
    background-image:url(images/matrix-resurrections.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{ 
    color: white;
    font-family: monospace;
}
/* HEADER ------------------------------- */
.header_ins {
        border-bottom: 1px solid white;
}
/* MAIN ------------------------------------------- */
.main_ins{
    display: flex;
    /* height: auto; */
    height: 92vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    

}
/*  FORMULAIRE -------------------------------------------------- */
.boite_ins {
    width: 600px;
    background-color: rgb(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid white;
    border-radius: 30px; 
}
.form_ins {
    background-color: rgb(0, 0, 0, 0.01);
    color: white;
    width: 500px;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}
.form_ins article  {
    margin-top: 10px;
}
.form_ins input {
    font-family: 'Courier New', Courier, monospace;
    font:1em;
    box-sizing: border-box;
    border: 1px solid #999;
}
.pseudo_ins {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pseudo_ins label {
    text-align: center;
    padding-bottom: 3px;
}
.mp_ins {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mp_ins label {
    text-align: center;
    padding-bottom: 3px;
}
.firstName_ins {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.firstName_ins label {
    text-align: center;
    padding-bottom: 3px;
}
.lastName_ins {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lastName_ins label {
    text-align: center;
    padding-bottom: 3px;
}
.button_ins {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aqua;
}
.button_ins label {
    text-align: center;
    padding-bottom: 3px;
    
}
/* FOOTER ---------------------------------------- */
.footer_ins {
    height: 15vh;
    width: auto;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;

}


/* Page ----------------------------------------  */

.topnav {
    background-image: url("");
    overflow: hidden;
}
.topnav i{
    float: right;
}
.topnav a {
    color: #f2f2f2;
    float: right;
    display: block;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: black;
    color: cyan;
    float: right;
}

.topnav .icon {
    display: none;
}





.liste tr td{
    color: white;
    border: 1px solid white;
   
    
}
